<html>
<head>
    <title>Admin Dashboard</title>
    <style>
        body { font-family: Arial; padding: 20px; text-align: center; }
        .table-btn { 
            display: inline-block; 
            padding: 20px 40px; 
            margin: 10px; 
            background: #007bff; 
            color: white; 
            text-decoration: none; 
            border-radius: 8px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Click on the table and scan the qr code..</p>
    <hr>

    <a href="/table/1" class="table-btn">Table 1</a>
    <a href="/table/2" class="table-btn">Table 2</a>
    <a href="/table/3" class="table-btn">Table 3</a>
    <a href="/table/4" class="table-btn">Table 4</a>
    <a href="/table/5" class="table-btn">Table 5</a>
    <a href="/table/6" class="table-btn">Table 6</a>
    <a href="/table/7" class="table-btn">Table 7</a>
    <a href="/table/8" class="table-btn">Table 8</a>
    <a href="/table/9" class="table-btn">Table 9</a>
    <a href="/table/10" class="table-btn">Table 10</a>


</body>
</html>
